In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_validate

import random 
random.seed(102)

1. Creation of the dataset

In [3]:
iris = pd.read_csv('Graduate - IRISES dataset (2019-06).csv', sep='|')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length Petal.Width Species
1           5.1          3.5           1.4         0.2  setosa
2           4.9          3.0           1.4         0.2  setosa
3           4.7          3.2           1.3         0.2  setosa
4           4.6          3.1           1.5         0.2  setosa
5           5.0          3.6           1.4         0.2  setosa

2. Exploratory Data Analysis

In [6]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     149 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null object
Species         150 non-null object
dtypes: float64(3), object(2)
memory usage: 7.0+ KB

In [26]:
iris['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [7]:
iris.groupby('Species').count()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa                50           50            50           50
versicolor            50           49            50           50
virginica             50           50            50           50

3. Feature Engineering

In [8]:
iris[iris['Sepal.Width'].isnull()]

    Sepal.Length  Sepal.Width  Petal.Length Petal.Width     Species
82           5.5          NaN           3.7           1  versicolor

In [9]:
iris[(iris['Sepal.Length'] == 5.5) & (iris['Species'] == 'versicolor')]

    Sepal.Length  Sepal.Width  Petal.Length Petal.Width     Species
54           5.5          2.3           4.0         1.3  versicolor
81           5.5          2.4           3.8         1.1  versicolor
82           5.5          NaN           3.7           1  versicolor
90           5.5          2.5           4.0         1.3  versicolor
91           5.5          2.6           4.4         1.2  versicolor

In [10]:
a = iris[(iris['Sepal.Length'] == 5.5) & (iris['Species'] == 'versicolor')]['Sepal.Width']

In [11]:
iris.iloc[81,1] = round(a.mean(),1)

dealing with datatyp object in 'Petal.Width'

In [12]:
iris['Petal.Width'].unique()

array(['0.2', '0.4', '0.3', '0.1', '0.5', '0.6', '1.4', '1.5', '1.3',
       '1.6', '1', '1.1', '1.8', '1.2', '1.7', '2.5', '1.9', '2.1', '2.2',
       '2', '2.4', '2.3', '2,2'], dtype=object)

In [13]:
iris[iris['Petal.Width']=='2,2']

     Sepal.Length  Sepal.Width  Petal.Length Petal.Width    Species
133           6.4          2.8           5.6         2,2  virginica

In [14]:
iris.iloc[132,3]='2.2'
iris['Petal.Width'] = pd.to_numeric(iris['Petal.Width'])

In [15]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

4. Classification model

In [19]:
x = iris.iloc[:,:4]
y = iris['Species']

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.4)

Decision Tree Classifier

In [21]:
dtc=tree.DecisionTreeClassifier()
dtc.fit(x_train,y_train)
predictions=dtc.predict(x_test)
print(accuracy_score(y_test,predictions))

0.9666666666666667

Decision Tree with Cross Validation

In [23]:
dtc = tree.DecisionTreeClassifier()
cv_results = cross_validate(dtc, x, y, cv=5)
cv_results.keys()

dict_keys(['fit_time', 'score_time', 'test_score'])

In [24]:
cv_results['test_score']

array([0.96666667, 0.96666667, 0.9       , 0.96666667, 1.        ])

In [25]:
round(cv_results['test_score'].mean(),2)

0.96